.flex {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	div {
	
		padding: 4vw;
		img {
			width: 10vw;
		}
		h5 {
			font-size: 1rem;
		}
	}
	.messageview {
		border: 1px solid black;
		border-radius: 10px;
		padding: 0.6rem 1rem;
		width: fit-content;

		background-color: lightgreen;
		color: black;
	}
}

.chatcontainer {
	display: grid;
	height: 88vh;
	.messageList {
		list-style: none;
		overflow-y: auto;
		padding: 10px;
		scroll-snap-type: proximity;
		scroll-snap-align: end;
		.outgoing {
			text-align: right;
			.flex {
				.messageview {
					margin-left: auto;
				}
			}
		}
	}
	.messageclass {
		height: auto;
		background-color: antiquewhite;
		border: 1px solid black;
		margin: 10px;
		display: flex;
		gap: 5px;
		padding: 5px;
		width: 95%;
		height: 8vh;
		textarea {
			height: auto;
			width: 60%;
			margin: 4px;
			border-radius: 10px;
			padding-bottom: 10px;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		}
		button {
			height: 6vh;
			margin: 4px;
			width: 40%;
			border-radius: 10px;
			border: none;
			background: linear-gradient(
				0deg,
				rgba(36, 14, 0, 1) 0%,
				rgba(109, 152, 188, 1) 0%,
				rgba(255, 255, 255, 1) 100%
			);
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		}
	}
}
