
.headerclass {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 1rem;
    background-color: #799ea8;
    align-items: center;
    div {
        display: flex;
        gap: 1rem;
        align-items: center;
        h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    .iconcolor {
        padding-left: 10px;
        color: black;
    }
    button {
        border-radius: 15px;
        background-color: #fec9c9;
        font-size: 12px;
        padding: 10px;
        width: 60px;
        border: none;
        margin: auto;
    }
}