.container {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 100%;
    height:100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/national-react-app.appspot.com/o/Astro_Astronomy_aurora.jpg?alt=media&token=42558e08-7d08-4fbe-88fa-8ea61c04c731");
    background-size: cover;
  }
  
  
  
  form {
    box-sizing: border-box;
    width: 300px;
    margin: 90px auto;
    padding: 60px;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
  }
  
  form h1 {
    text-align: center;
  }
  form h2 {
    text-align: center;
  }

  .photo {
    margin: 10px auto;
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    color: white;
    background-color: rgb(194, 41, 194);
    border: none;
    border-radius: 4px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
  }
  
  
  form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
  }
  
  
  button {
    margin-top: 5px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .input-control {
    display: flex;
    flex-direction: column;
  }
  
  .input-control input {
    
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
  }
  
  .input-control input:focus {
    outline: 0;
  }
  
  .input-control.success input {
    border-color: #09c372;
  }
  
  .input-control.error input {
    border-color: #ff3860;
  }
  
  .input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
    font-weight: bold;
  }