.grid {
	display: grid;
	width: 100%;
	grid-template-areas:
	  "nav head"
	  "nav main";
	grid-template-columns: 300px 1fr;
	grid-template-rows: 100px;
	gap: 0 30px;
	max-width: 1350px;
  }

  main {
	grid-area: main;
	width: 100%;
	margin: 0;
	height: 100%;

	.back-to-home {
		width: 34px;
		height: 34px;
		z-index: 999;
		cursor: pointer;
		padding: 5px;
		display: none;
		background: #fff;
		border: 2px solid rgba(0, 0, 0, 0.2);
		border-radius: 2px;
		box-shadow: 0 1px 2px rgb(0 0 0 / 65%);
	  }
	  
	  .show-button-home .back-to-home {
		display: block;
		margin-left: 10px;
	  }
  }
  
  
  
  @media (max-width: 1200px) {
	.grid {
		background-image: url("../../../asset/background/wallpaperflare.com_wallpaper.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	  grid-template-columns: 100%;
	  grid-template-areas:
		"head"
		"main";
	  gap: 0;
	}
}
